<div class="modal fade" id="deleteFoodtypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteFoodtypeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="deleteFoodtypeModalLabel">Vymazanie kategórie jedla: <strong th:text="${foodTypeToBeDeleted.name}"></strong></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5>Naozaj si praješ vymazať túto kategóriu jedla?</h5>
				<form method="post" th:action="@{/admin/foodtypes/delete}">
					<!--     FOODTYPEs ID     -->
					<div class="row mb-3" style="display: none">
						<label for="foodtypeId" class="col-sm-2 col-form-label">Id</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="foodtypeId" th:value="${foodTypeToBeDeleted.id}" th:field="*{foodTypeToBeDeleted.id}" readonly>
						</div>
					</div>
					<!--     FOODTYPEs NAME     -->
					<div class="row mb-3">
						<label for="foodtypeName" class="col-sm-2 col-form-label">Názov</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="foodtypeName" th:value="${foodTypeToBeDeleted.name}" th:field="*{foodTypeToBeDeleted.name}" readonly>
						</div>
					</div>

					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvor</button>
					<button type="submit" class="btn btn-primary">Vymaž</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteFoodtypeModal = new bootstrap.Modal('#deleteFoodtypeModal');
        if (deleteFoodtypeModal) {
            deleteFoodtypeModal.show();
        }
    });
</script>
