html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

.content-wrap.with-image-background {
    background-size: cover;
    background-position: center;
    background-image: url('/images/user-background.png');
}

.content.auth-page {
    width: 360px;
    margin: auto;
}
.auth-form {
    background: var(--color-white);
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-height: 100%;
}
.auth-form input {
    border: 2px outset var(--color-brown);
    font-size: var(--font-small);
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 15px 0;
    padding: 15px;
}

/* RESPONSIVE DESIGN FOR SMARTPHONES */
@media (max-width: 600px) {
    body {
        background-size: cover;
        background-position: center;
        background-image: url('/images/user-background.png');
    }

    .content-wrap.with-image-background {
        background-image: none;
    }

    .auth-form {
        max-width: none;
    }

    .content-wrap.centered {
        display: block;
        margin: 16px;
    }

    .content.auth-page {
        width: auto;
    }

}
