/* Main navigation bar styles */
.navigation-bar {
    font-family: var(--primary-font);
    margin-left: 16px;
    margin-right: 16px;
}

.navigation-bar-list, .navigation-bar-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-bar .navigation-bar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar a {
    font-family: var(--primary-font);
    color: var(--color-black);
    font-size: var(--font-medium);
    padding: 5px;
    text-decoration: none;
}

.navigation-bar a:hover {
    text-decoration: none;
    color: var(--color-brown);
}

.navigation-bar .middle-link {
    font-size: var(--font-large);
    flex: 1;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .navigation-bar-item {
    font-size: var(--font-small-medium);
}

/* RESPONSIVE DESIGN FOR SMALLER BROWSERS */
@media (max-width: 800px) {
    .navigation-bar .middle-link {
        font-size: var(--font-medium);
    }
    .navigation-bar a {
        font-size: var(--font-small-medium);
    }
}

/* RESPONSIVE DESIGN FOR SMARTPHONES */
@media (max-width: 600px) {
    .navigation-bar .navigation-bar-list {
        display: block;
    }

    .navigation-bar .middle-link,
    .navigation-bar a {
        font-size: var(--font-medium);
    }

    .navigation-bar-item {
        text-align: center;
    }

    .middle-link {
        display: inline-block;
    }

    .show-dropdown-btn.button-small {
        margin-top: 10px;
    }
}
