<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head title="Login page" >
    <th:block th:insert="~{fragments/head}" />
    <link th:href="@{/css/pages/user/user.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="content-wrap centered with-image-background" style="background-image: url('/images/user-background.png')">
    <div class="content auth-page">
        <form class="auth-form" method="post" th:action="@{/user/register}" th:object="${registerRequest}">
            <input name="name" type="text" placeholder="Meno" required/>
            <input name="lastName" type="text" placeholder="Priezvisko" required/>
            <input name="email" type="email" placeholder="Email" required/>
            <input name="password" type="password" placeholder="Heslo" required/>
            <button name="register" type="submit" class="button-small">Registrácia</button>
            <p>Už máš vytvorený účet?
                <a th:href="@{/user/login}">Prihlás sa tu</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>
