.content.errorPage {
    width: 300px;
    margin: auto;
}

.errorPage .errorImage {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.errorPage .errorTitle, .errorPage .errorMessage {
    text-align: center;
}
