<nav class="navigation-bar" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<ul class="navigation-bar-list">
		<li class="navigation-bar-item"><a th:href="@{/about}">O nás</a></li>
		<li class="navigation-bar-item"><a th:href="@{/menu}">Menu</a></li>
		<li class="navigation-bar-item"><a class=middle-link th:href="@{/home}">Mňamka</a></li>
		<li class="navigation-bar-item"><a th:href="@{/contact}">Kontakt</a></li>
		<li class="navigation-bar-item">
			<a sec:authorize="isAnonymous()" th:href="@{/login}">
				Prihlás sa
			</a>
			<div sec:authorize="isAuthenticated()" class="dropdown">
				<button class="show-dropdown-btn button-small" sec:authentication="name"></button>
				<div class="dropdown-content">
					<a class="dropdown navigation-bar-item" th:href="@{/user}">O mne</a>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="dropdown navigation-bar-item" th:href="@{/user/admin}">Admin</a>
					</div>
					<a class="dropdown navigation-bar-item" th:href="@{/logout}">Odhlásenie</a>
				</div>
			</div>
		</li>
	</ul>
</nav>
<script src="/javascript/fragments/navbar.js"></script>
