<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head title="Login page" >
  <th:block th:insert="~{fragments/head}" />
  <link th:href="@{/css/pages/user/user.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="content-wrap centered with-image-background" style="background-image: url('/images/user-background.png')">
  <div class="content auth-page">
    <form class="auth-form" method="post" th:action="@{/register}" th:object="${user}">
      <th:block th:insert="~{fragments/alert}"></th:block>
      <input name="name" type="text" placeholder="Meno" th:field="*{firstName}" required/>
      <input name="lastName" type="text" placeholder="Priezvisko" th:field="*{lastName}" required/>
      <input name="email" type="email" placeholder="Email" th:field="*{email}" required/>
      <input name="password" type="password" placeholder="Heslo" th:field="*{password}" required/>
      <select name="gender" th:field="*{gender}">
        <option value="" selected>Zvol si pohlavie...</option>
        <option value="male">Muž</option>
        <option value="female">Žena</option>
      </select>
      <button name="register" type="submit" class="button-small">Registrácia</button>
      <p>Už máš vytvorený účet?
        <a th:href="@{/login}">Prihlás sa tu</a>
      </p>
    </form>
  </div>
</div>
</body>
</html>
